body {
  color: white;
  display: flex;
  justify-content: center;
  align-content: center;
}

#content {
  opacity: 0.9;
  text-align: center;
  background-color: black;
  padding: 10px;
}

button {
  margin: 50px auto 0px auto;
  /* margin-top: 50px; */
  text-align: center;
  border-radius: 30px;
  z-index: 1;
  position: relative;
  padding: 20px 46px;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #8787b0;
  font-size: 16px;
  font-weight: bold;
  background-color: transparent;
  outline: none;
  border: none;
  transition: color 0.5s;
  cursor: pointer;
  border-radius: 30px;
}

button:hover {
  color: #ffffff;
  border-radius: 30px;
}
#start-sushi {
  display: block;
}

#stop-sushi {
  display: none;
}
